body{
    background-image: url('../imagem/dubai-desert-safari-6826298_1920.jpg');
height: 100vh;

}


.central{
display: flex;
align-items: center;
justify-content: center;
position: relative;
top: 17%;

}

.central div{
background: linear-gradient(rgb(81, 119, 170),rgb(174, 255, 174));
color: rgb(0, 4, 214);
font-size:120px;
border-radius: 30%;
padding: 1%;
}
.central span{
font-size: 120px;
padding: 1%;

}
h1{
display: flex;
align-items: center;
justify-content: center;
background: rgba(92, 189, 253, 0.459);
width: 60%;
position: relative;
left: 20%;
padding: 1%;
color: rgb(0, 0, 0);
}